<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Starter Template - Materialize</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Customer Statistical</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#">Home Page</a></li>
      <li><a href="#">Statistical</a></li>
    </ul>

    <ul id="nav-mobile" class="sidenav">
      <li><a href="#">Home Page</a></li>
      <li><a href="#">Statistical</a></li>
    </ul>
    <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>
<div class="section no-pad-bot" id="index-banner">
  <div class="container center">
    <video class="responsive-video" autoplay playsinline muted id="webcam" width="224" height="224"></video>
  </div>
</div>

<footer class="page-footer orange">

</footer>

<!--  Scripts-->
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="javascripts/materialize.js"></script>
<script src="javascripts/home_page.js"></script>

</body>
</html>
